@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div id="homePage">
    <div class="text-center">
        <h1 class="display-4">Monkey Movies</h1>
        <p>The world renown hub for pimp-chimpin movies</p>
        <img src="https://64.media.tumblr.com/dc16d96665195e80ef79bb83a66bdff0/e7c50785b2819198-b1/s1280x1920/24acdad0fcf35285cefe76de2ee5f47954d9780b.jpg"/>
</div>
</div>
